
Datos/animelists_cleaned.csv
.ipynb_checkpoints
Datos/userAnimeListPreprocesada.csv
Datos/anime_cleaned.csv
Datos/clean-locations.csv
Datos/users_cleaned.csv
Proyecto_Hito_1_Versión_Corta,_v2 (2) (1).ipynb
Proyecto_Hito_1_Versión_Corta_V3.ipynb
